body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider {
    border-radius: 5px;
    background: linear-gradient(90deg, #E0E0E0, #EEEEEE);
    width: 310px;
    height: 15px;
    margin: 5px;
}

.thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: relative;
    left: 0;
    top: -5px;
    background: black;
    cursor: grab;
}