section {
    padding: 30px 0;
}

ul {
    width: 40%;
    margin: auto;
    border: 1px solid black;
    padding: 0;
    user-select: none;
}

li {
    display: block;
    padding-right: 10px;
    cursor: pointer;
    font-size: 30px;
}

li::before {
    content: '\2737';
    margin-right: 10px;
}

.selected {
    background: black;
    color: white;
}