body {
    margin: 0;
}

.mouse {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.mouse__image {
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    user-select: none;
    cursor: pointer;
    width: 86px;
    height: 140px;
}

.mouse:focus {
    outline: none;
    box-shadow: 0 0 10px 0 red;
    color: red;
    border: none;
}