body {
    height: 2000px;
}

#house {
    margin-top: 50px;
    width: 400px;
    border: 1px solid brown;
}

#roof {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 20px solid brown;
    margin-top: -20px;
}

p {
    text-align: justify;
    margin: 10px 3px;
}

.tooltip {
    position: fixed;
    padding: 10px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: whitesmoke;
}