#view,
#area {
    height: 150px;
    width: 400px;
    font-family: sans-serif;
    font-size: 14px;
}

#view {
    padding: 2px;
    border: 1px solid black;
}

#area {
    display: none;
    border: 3px groove blue;
    padding: 0;
}

#area:focus {
    outline: none;
}