.animal-tree {
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    margin-bottom: 2px;
    cursor: pointer;
}

.animal-tree__list > li {
    background-color: whitesmoke;
}

.animal-tree__sublist > li {
    background-color: lightgrey;
}

.animal-tree__types > li {
    background-color: darkgrey;
    cursor: initial;
}

.collapse {
    display: none !important;
}
