* {
    box-sizing: border-box;
}

body {
    height: 3000px;
    margin: 0;
    border: 1px solid transparent;
}

#prompt-form {
    display: inline-block;
    width: 260px;
    padding: 5px 5px 5px 70px;
    vertical-align: middle;
    background: white url(https://js.cx/clipart/prompt.png) no-repeat left 5px;
    border: 1px solid black;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}