body,
html {
    margin: 0;
    padding: 0;
}

.column-left {
    float: left;
    width: 30%;
    background: #aef;
}

.column-right {
    margin-left: 30%;
    width: 70%;
    background: tan;
    overflow: auto;
    /* расшириться вниз захватить float'ы */
}

.header {
    line-height: 60px;
    background: yellow;
}

.inner {
    margin: 1em;
    font-size: 130%;
}

#avatar {
    float: left;
    margin: 0 1em .5em 0;
    border: 1px solid black;
    text-align: center;
    background: white;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}