body {
    height: 2000px;
}

.tooltip {
    position: fixed;
    padding: 10px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: whitesmoke;
}

[data-tooltip] {
    position: relative;
}